{% extends "layout.njk" %}

{% block content %}
<div class="container col-10 offset-1">
  <p class="text-dark" id="message">Géolocalisation...<br />
    Merci d'accepter la géolocalisation pour récupérer automatiquement la météo de l'endroit où vous vous trouvez.
  </p>
</div>

<script>
var options = {
  enableHighAccuracy: true,
  timeout: 10000,
  maximumAge: 0
};
function success(pos) {
  const crd = pos.coords;
  document.getElementById("message").innerHTML = "Merci. Géolocalisation OK.<br />Je débute le téléchargement de la météo.";

  console.log('Votre position actuelle est :');
  console.log("Latitude :" + crd.latitude);
  console.log("Longitude:" + crd.longitude);
  window.location = "/latitude/" + crd.latitude + "/longitude/" + crd.longitude;
};

function error(err) {
  console.warn("ERROR(" + err.code + "): " + err.message);
  document.getElementById("message").innerHTML = "Erreur. Voici le message.<br />Code erreur : " + err.code + "<br />Message : " + err.message;
};

  navigator.geolocation.getCurrentPosition(success, error, options);
</script>
{% endblock %}
