{% extends "layout.njk" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-5 text-center font-weight-normal">{{city}}</h2>
    <p class="text-center">{{currentWeather.weather.description}}, vent {{currentWeather.windSpeed}} km/h de {{currentWeather.windDirection}}</p>
    <h1 class="display-5 text-center font-weight-normal">{{currentWeather.temperature}}°</h1>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td> 8h </td>
          <td> 18h </td>
        </tr>
      </thead>
      <tbody>
        {% for object in forecast.returnedTimes %}
        <tr>
          <td scope="row">{{object.date}}</td>
          <td>
            {% if object.morningBike and object.eveningBike %}
              <img class="card-img-top" src="http://www.atelierjespers.com/images/pharrell%20williams%20-%20velo%20bleu.jpg" alt="Card image cap">
            {% else %}
              <img class="card-img-top" src="http://www2.mes-coloriages-preferes.biz/colorino/Images/Large/Vehicules-Voiture-MINI-110563.png" alt="Card image cap">
            {% endif %}
          </td>
          <td>{{object.morningTemp}}°<br />
            <img class="card-img-top" src={{object.morningIcon}} alt="Weather icon" />
          </td>
          <td>{{object.eveningTemp}}°<br />
            <img class="card-img-top" src={{object.eveningIcon}} alt="Weather icon" />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
