{% extends "layout.njk" %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div class="container">
  </div>
    <h1 class="display-5">{{data.city}}</h1>
    <div class="card-group">
      {% for object in data.returnedTimes %}
      <div class="col-3-md">
        <div class="card">
          {% if object.morningBike and object.eveningBike %}
            <img class="card-img-top" src="/veloMatin.gif" alt="Card image cap">
          {% else %}
            <img class="card-img-top" src="/pluiePneu.gif" alt="Card image cap">
          {% endif %}
          <div class="card-body">
          <h4 class="card-title">{{object.date}}</h4>
          {% if object.morningBike and object.eveningBike %}
            <p class="card-text">Vélo</p>
          {% else %}
            <p class="card-text">Voiture</p>
          {% endif %}
          <p class="card-text">Matin : {{object.morningExplanation}}</p>
          <p class="card-text">Soir : {{object.eveningExplanation}}</p>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
